@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior:smooth;
  font-size: 17px;
}

body{
  margin:0;
  font-family:'Outfit',sans-serif;
  background:#070814;
  color:white;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}

::selection{
  background:#8b5cf6;
  color:white;
}

/* Scrollbar */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#090b18;
}

::-webkit-scrollbar-thumb{
  background:#6d4cff;
  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
  background:#8b5cf6;
}

/* Animated Gradient Background */

body::before{
  content:"";
  position:fixed;
  inset:0;
  background:
  radial-gradient(circle at 20% 20%,rgba(139,92,246,.18),transparent 30%),
  radial-gradient(circle at 80% 10%,rgba(124,58,237,.15),transparent 30%),
  radial-gradient(circle at 50% 80%,rgba(139,92,246,.12),transparent 40%);
  pointer-events:none;
  z-index:-1;
}